{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}  

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3"
        >
            <h2>Bienvenidos al sitio de la bicicleteria</h2>
            <p>
                Empieza a ingresar bicicletas
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div
        class="h-100 p-5 bg-primary border rounded-3 text-white">
        
            <h2>¿Como empiezo?</h2>
            <p>
                Por favor haz click en bicicleta si deseas añadir o editar algun elemento.
            </p>
        </div>
    </div>
</div>

{% endblock %}
