<!DOCTYPE html>
<html lang="es">
<head>
    <!-- básico -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- metas móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- metas del sitio -->
    <title>Nissi</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- cargando etiquetas estáticas -->
    {% load static %}
    <!-- css de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- estilo css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- favicon -->
    <link rel="icon" href="{% static 'logo2.ico' %}" type="image/x-icon">
    <!-- Agrega tu archivo de estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/encabezado.css' %}">



</head>
<body>
    <div id="main">
        <!-- sección de encabezado -->
        <div class="headersection encabezado-negro">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="togle_3">
                            <div class="left_main">
                                <div class="menu_main">
                                    <a href="{% url 'admin_interface' %}"><i class="fa fa-fw fa-user"></i> Iniciar sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="logo"><img src="{% static 'images/logo2.png' %}"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- sección de banner -->
        <div class="banner_section layout_padding">
            <!-- contenido del banner aquí -->
        </div>
        
    </div>

    <!-- sección de encabezado -->
    <div class="banner_section layout_padding">
        <div class="container">
            <section >
                            <div class="container">
                                <div class="row marginii">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <h1 class="sport_text"><strong>Deportes<br><span style="color: #000000;">Ciclismo</span></strong></h1>
                                            <p class="lorem_text"style="color: #000000">Ofrecemos un servicio de mantenimiento de bicicletas llevado a cabo por un técnico altamente calificado y experimentado. Con un enfoque meticuloso y atención al detalle, nuestro técnico se encarga de asegurar que cada aspecto de su bicicleta esté en perfectas condiciones. Desde ajustes precisos hasta reparaciones especializadas, nuestro técnico utiliza su experiencia y habilidades para mantener su bicicleta funcionando sin problemas y garantizar su óptimo rendimiento en cada viaje. Con un compromiso inquebrantable con la calidad y la satisfacción del cliente, nuestro técnico se esfuerza por proporcionar un servicio excepcional que permita disfrutar al máximo de su experiencia de ciclismo. Confíe en nosotros para cuidar de su bicicleta con el más alto nivel de profesionalismo y dedicación.</p>
                                            <button id="contact_button" class="boynow_bt">Contáctenos</button>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="img-box">
                                            <figure><img src="{% static 'images/img-1.png' %}" style="max-width: 100%;"/></figure>
                                        </div>
                                    </div>
                                </div>
                        </div>
            </section>
        </div>
    </div>
    <!-- sección de acerca de -->
    <div class="container-fluid">
        <div class="about_section">
            <div class="container">
                <div class="about_img"><img src="{% static 'images/about-img1.jpg' %}" style="max-width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">    
        <div class="about_section">
            <div class="container">
                <h2><strong style="color: #000;">Acerca de <span style="color: red;">Nosotros</span></strong></h2>
                <p class="about_lorem">FALTA ESTO CRACK!!!! </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Contacto</h4>
                    <p>Dirección: Cra. 103a #16J-28,Fontibon-Bogota</p>
                    <p>Teléfono: +57 321 2865201</p>
                    <p>Email: cristiandavidbeltrancruz87@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h4>Horario de atención</h4>
                    <p>Lunes a Viernes: 8:30 am - 7:30 pm</p>
                    <p>Sábado: 8:30 am - 7:30 pm</p>
                    <p>Domingo: 9:30 am - 3:30 pm</p>
                </div>
                <div class="col-md-4">
                    <h4>Síguenos en redes sociales</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Bicicletería Nissi Triple A- Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>    
    <!-- Agrega el script después de que el DOM haya cargado -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('contact_button').addEventListener('click', function() {
                document.getElementById('footer').scrollIntoView({ behavior: 'smooth' });
            });
        });
    </script>
</body>
</html>
